
.boton_register{
    border-radius: 0.5rem;
    border-width: 1rem;
    padding: 0.5rem;
    margin: 0.8rem;
}
.boton_logout{
    border-radius: 0.5rem;
    border-width: 1rem;
    padding: 0.5rem;
    margin-top: 1rem;
}

.boton_login{
    border-radius: 0.5rem;
    border-width: 1rem;
    padding: 0.5rem;
}