*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #15181d;
    backdrop-filter: blur(10px)
}
/* post.html */
.articulo{
    background-color: #fffefe;
    color: #556776;
}

.post-preview a, .post-preview p{
    color: #fffefe;

}

.bienvenida{
    font-size: 0.65rem;
    font-weight: 800;
    letter-spacing: 0.0625em;
    text-transform:initial;
    color: #556776;
}

/* avatar */
.img_avatar{
    width: 4rem;
    height: 4rem;
    margin: 0.5rem;
}

/* carousel */
.h2_carousel{
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: 0.0625em;
    text-transform:uppercase;
    display: grid;
    align-content: center;
    justify-content: center;
    color: #fffefe;
}

.carousel-item{
    width: 40%;
    margin: 1rem;
    
}

.little_women, .forrest, .truman, .interestellar, .before_sunrise, .black_phone{
    width: 20rem;
}

.carousel{
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.row{
    margin-right: 0;
    margin-left: 0;
}

/* mini recomendaciones de about.html*/
.mini_recomendaciones{
    font-size: 1rem;
    font-weight: 800;
    letter-spacing: 0.0625em;
    text-transform:uppercase;
    display: grid;
    align-content: center;
    justify-content: center;
    color: #fffefe;
}

/* about.html*/
.about_me{
    color: #556776;
}

/* mensaje de bienvenida cuando te logueas*/
.mensaje_login{
    font-size: 1rem;
    font-weight: 800;
    letter-spacing: 0.0625em;
    text-transform:initial;
    display: grid;
    align-content: center;
    justify-content: center;
    margin-bottom: 1rem;
    color: #fffefe;
}

/* peliculas agregadas recientemente inicio.html*/
.peliculas_h1{
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: 0.0625em;
    text-transform:uppercase;
    display: grid;
    align-content: center;
    justify-content: center;
    color: #fffefe;
}

.span_peliculas{
    font-size: 1rem;
    font-weight: 800;
    letter-spacing: 0.0625em;
    text-transform:inherit;
    display: grid;
    align-content: center;
    justify-content: center;
    color: #fffefe;
}

/* form login en login.html*/
.form_login{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 40px;
    background: #15181d;
    text-align: center;
    color: #fffefe;
}

.form-text{
    color: #fffefe;
}

.form_login input{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #fffefe;
    padding: 14px 10px;
    width: 250px;
    outline: none;
    color: #fffefe;
    border-radius: 20px;
}

/* botones submit */
.btn-primary{
    background-color: black;
    border-color: black;
}

.form-text{
    margin-top: 2rem;
}

/* form register */
.form_register{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 40px;
    background: #15181d;
    text-align: center;
}

.form_register input{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #fffefe;
    padding: 14px 10px;
    width: 250px;
    outline: none;
    color: #fffefe;
    border-radius: 20px;
    
}

.form_register p{
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 14px 10px;
    width: 250px;
    outline: none;
    color: #fffefe;

}


.datos h2{
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #fffefe;
    padding: 14px 10px;
    width: 350px;
    outline: none;
    color: #fffefe;
    border-radius: 20px;
}

/* cards de inicio y about */
.card{
    width: 95%;
}

.h2_editar_perfil{
    color: #fffefe;
    text-align: center;

}

.form_editar_perfil{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 40px;
    background: #15181d;
    text-align: center;
}

.form_editar_perfil input{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #fffefe;
    padding: 14px 10px;
    width: 250px;
    outline: none;
    color: #fffefe;
    border-radius: 20px;
}

/*editar_perfil.html*/
.form_editar_perfil label{
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 14px 10px;
    width: 250px;
    outline: none;
    color: #fffefe;
}

/*agregar_avatar.html*/
.h2_avatar{
    color: #fffefe;
}

.form_avatar table{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 40px;
    background: #15181d;
    text-align: center;
    color: #fffefe;
}

.form_avatar{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.form_avatar label{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 14px 10px;
    width: 250px;
    outline: none;
    color: #fffefe;
    border-radius: 20px;
}

.btn_avatar{
    border-radius: 20px;
    background-color: transparent;
    border-color: #fffefe;
    color: #fffefe;
    padding: 14px 10px;
}

/*button dropdown en header*/
.btn_dropdown{
    background: #15181d; 
    border-color: transparent;
    text-transform:uppercase; 
    font-size: 0.75rem;
    font-weight: 800;
    letter-spacing: 0.0625em;
}

/*post form*/


.div_regresar, .div_nuevo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.div_regresar a, .div_nuevo a{
    margin-bottom: 1rem;
}

/*post list*/
mark{
    background-color: #61a4b7;
    color: #15181d;
}


