{% extends "padre.html" %}
{% load static %}
{% block imagen_fondo %}
   <header class="masthead" style="background-image: url('https://assets.mubicdn.net/images/film/108343/image-w1280.jpg?1445939363');">     
{% endblock %}
{% block titulo %}

   <h1>About Me</h1>
    <span class="subheading">Quién soy y qué es Montauk</span>  
    </header>
{% endblock %}

{% block contenido_que_cambia %}
    <!-- Main Content-->
    <main class="mb-4 about_me">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div style="color: #fffefe;" class="col-md-10 col-lg-8 col-xl-7">
                    <p>Mi nombre es Abril Bazán pero mis amigos me dicen April. Tengo 19 años y Montauk es mi primer proyecto con Django. </p>
                    <p>Estudio Desarrollo Web y Aplicaciones Digitales en el ISPC de Córdoba Capital, &#x1f1e6;&#x1f1f7;.  Mientras tanto, trato de practicar la mayor parte de mi tiempo haciendo ejercicios y cursos online.</p>
                    <p>Montauk, es un blog sobre películas en donde se podrán encontrar posts con una crítica u opinión a una respectiva película. En esta web app también se puede encontrar una lista de películas recomendadas por los usuarios. Esta tendrá su nombre, año de lanzamiento, director, una sinopsis y un link para verla.</p>
                    <p>Me encantó la idea de este proyecto como una manera interesante de representar los conocimientos que aprendí sobre Django. Pasé de no saber nada a saber este poquito que me ayudó a comenzar Montauk :) </p>
                    
                </div>
            </div>
        </div>
    </main>

    <div class="text-success">
        <hr>
    </div>
    <p class="mini_recomendaciones">Mini recomendaciones</p>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card">
            <img class="top_gun" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/tgm-intl-dgtl-key-art-t-cruise-standing-jet-imax-esp-1648564479.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Top Gun: Maverick</h5>
              <p class="card-text">Maverick, quien lleva 30 años de servicio, es ahora instructor de pilotos militares. Una última misión, un sacrificio final, obliga a este maestro de los cielos a enfrentar las heridas abiertas del pasado y sus temores más profundos.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img class="prisoners" src="https://m.media-amazon.com/images/M/MV5BMTg0NTIzMjQ1NV5BMl5BanBnXkFtZTcwNDc3MzM5OQ@@._V1_.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Prisoners</h5>
              <p class="card-text">Keller Dover se enfrenta a la peor pesadilla para un padre: la desaparición de su hija de seis años junto a una amiga. Pese a ello, Keller todavía tiene una pista de la que puede tirar: una autocaravana que se encontraba aparcada en su calle.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img class="gray_man" src="https://pics.filmaffinity.com/the_gray_man-486053339-large.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">The Gray Man</h5>
              <p class="card-text">El agente de la CIA Court Gentry (Ryan Gosling), alias Sierra Seis, es sacado de una cárcel federal reclutado por su supervisor, Donald Fitzroy (Billy Bob Thornton), Gentry fue en su día un mercader de la muerte altamente cualificado, autorizado por la Agencia. Pero ahora las tornas han cambiado y Seis es el objetivo, perseguido por todo el mundo por Lloyd Hansen (Chris Evans), un antiguo compañero de la CIA que no se detendrá ante nada para acabar con él. La agente Dani Miranda (Ana de Armas) le cubre las espaldas. La necesitará. (FILMAFFINITY)</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img class="the_equalizer" src="https://pics.filmaffinity.com/The_Equalizer_El_protector-961970449-large.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">The Equalizer</h5>
              <p class="card-text">Robert McCall, un antiguo comando de operaciones especiales que ha fingido su propia muerte, se ve obligado a salir de su retiro para salvar la vida de Teri, una joven que se encuentra en manos de unos ultraviolentos mafiosos rusos.</p>
            </div>
          </div>
        </div>
      </div>

      
{% endblock %}
