{% extends "padre.html" %}
{% load static %}

{% block imagen_fondo %}
   <header class="masthead" style="background-image: url('https://2.bp.blogspot.com/-tIabgdeMzv8/WoGAlXNnX_I/AAAAAAAAXSM/5y23T0922kw73qne3gJcoVtClUIkPVg2ACLcBGAs/s1600/Captura%2Bde%2BPantalla-2018-02-12%2Ben%2B12_52_22%2BPM-1549257250.png');">     
{% endblock %}
{% block titulo %}
   <h1>Escribí tu post acá</h1> 
    </header>
{% endblock %}

{% block contenido_que_cambia %}

    {% if formulario.errors %}
    <p style="color: red;">Hay algo mal en el formulario, revisalo</p>
    {% endif %}

  
        <form style="color: #fffefe;display: flex; flex-direction: column;flex-wrap: nowrap;align-items: center;" method="post" enctype="multipart/form-data">{% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <input class="btn btn-primary" type="submit" value="Enviar">
        </form>
 

    
{% endblock %}