{% extends "padre.html" %}
{% load static %}

{% block imagen_fondo %}
   <header class="masthead" style="background-image: url('https://pics.filmaffinity.com/Contact-307922962-large.jpg');">     
{% endblock %}
{% block titulo %}
    <h1>Contact Me</h1>
    <span class="subheading">Have questions? I have answers.</span> 
    </header>
{% endblock %}

{% block contenido_que_cambia %}
    <!-- Main Content-->
    <span class="subheading" style="color: white;">Para contactarme, te dejo mi email: abrilbazan28@gmail.com</span>

{% endblock %}


{% block peliculas %}

{% endblock %}


