{% extends "padre.html" %}
{% load static %}

{% block imagen_fondo %}
   <header class="masthead" style="background-image: url('https://occ.a.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABarPUN0hHU86yIrm-7jgC0J84sg5bBpa2wl2EMOkY501wNKUzCIhPQcU0mbOJGAVJ009zfmkPDEmuisu7dQrAk_V3OdFiUp9cJzA.jpg?r=824');">     
{% endblock %}
{% block titulo %}

   <h1>Montauk Blog</h1>
    <span class="subheading">Mirá lo que dicen los demás sobre tus películas favoritas y compartí lo tuyo.</span>  
    </header>
{% endblock %}

{% block contenido_que_cambia %}
<h2 class="mensaje_login">{{ mensaje }}</h2> 
<h3 class="h2_carousel">Últimas películas agregadas:</h3>
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
   <div class="carousel-inner">
     <div class="carousel-item active">
       <img class="little_women" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRevp_5OKk0Ecx3-jwJsv6whu0iUtjFruqMtN_THYg-yoxwNR-_" class="d-block w-100" alt="...">
     </div>
     <div class="carousel-item">
       <img class="forrest" src="https://pics.filmaffinity.com/Forrest_Gump-212765827-large.jpg" class="d-block w-100" alt="...">
     </div>
     <div class="carousel-item">
       <img class="truman" src="https://images-na.ssl-images-amazon.com/images/S/pv-target-images/1372b1f835edc8dc24851b9f5c749dfcba767dc1e009f23605cd357fb2fb32c4._RI_V_TTW_.jpg" class="d-block w-100" alt="...">
     </div>
     <div class="carousel-item">
      <img class="interestellar" src="https://static.wikia.nocookie.net/doblaje/images/2/29/1921258_615304598555527_3845710957502188196_o.jpg/revision/latest?cb=20141006185159&path-prefix=es" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img class="before_sunrise" src="https://pics.filmaffinity.com/Antes_de_amanecer-227513298-large.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img class="black_phone" src="https://pics.filmaffinity.com/Black_Phone-710559267-large.jpg" class="d-block w-100" alt="...">
    </div>
   </div>
   <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
     <span class="carousel-control-prev-icon" aria-hidden="true"></span>
     <span class="visually-hidden">Previous</span>
   </button>
   <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
     <span class="carousel-control-next-icon" aria-hidden="true"></span>
     <span class="visually-hidden">Next</span>
   </button>
 </div>
{% endblock %}

{% block mini_recomendaciones %}
<div class="text-success">
  <hr>
</div>

 <p style="font-size: 2rem;" class="mini_recomendaciones">Mini recomendaciones</p>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card">
            <img class="panic_room" src="https://flxt.tmsimg.com/assets/p29417_p_v8_au.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Panic Room</h5>
              <p class="card-text">Cuando tres hombres armados en busca de un botín escondido irrumpen en su casa, una mujer divorciada y su hija diabética deben refugiarse en una habitación especialmente diseñada para este tipo de situaciones y, desde allí, intentar pedir ayuda.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img class="triple_frontier" src="https://m.media-amazon.com/images/M/MV5BODU4MzM2MDAxMl5BMl5BanBnXkFtZTgwNDEzNjM0NzM@._V1_.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Triple Frontier</h5>
              <p class="card-text">Cinco ex veteranos militares y antiguos operativos de las Fuerzas Especiales, se reúnen para planificar un asalto a una zona fronteriza poco habitada en Sudamérica. El objetivo: robar a un poderoso narcotraficante. Por primera vez asumirán una misión en su propio beneficio y no en el de su país.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img class="middsommar" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQfMW2bUiWCXI2oSPLKPtlWEbJj8Dy0DmzCpDfo3679io7l9YZ3" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Middsommar</h5>
              <p class="card-text">Una pareja de estadounidenses acude con unos amigos a Midsommar, un festival de verano que se celebra cada 90 años en una aldea remota de Suecia. Sin embargo, lo que parecían ser unas vacaciones de ensueño toma un giro macabro cuando los aldeanos los invitan a participar en sus perturbadoras actividades festivas.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img class="pulp_fiction" src="https://pics.filmaffinity.com/Pulp_Fiction-210382116-large.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Pulp Fiction</h5>
              <p class="card-text">La vida de un boxeador, dos sicarios, la esposa de un gánster y dos bandidos se entrelaza en una historia de violencia y redención.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img class="fire_lady" src="https://m.media-amazon.com/images/M/MV5BNjgwNjkwOWYtYmM3My00NzI1LTk5OGItYWY0OTMyZTY4OTg2XkEyXkFqcGdeQXVyODk4OTc3MTY@._V1_.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Portrait of a Lady on Fire</h5>
              <p class="card-text">Marianne es una pintora que recibe un encargo muy especial: retratar a Héloïse, quien acaba de salir del convento y va a casarse. Este retrato de bodas tiene que realizarse sin que ella lo sepa, por lo que Marianne la investigará a diario.</p>
            </div>
          </div>
        </div>
            <div class="col">
              <div class="card">
                <img class="clean" src="https://pics.filmaffinity.com/Clean-739090034-large.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Clean</h5>
                  <p class="card-text">Clean, un recolector de basura, intenta vivir una vida tranquila, alejado de su pasado. Sin embargo, un mafioso local pretende arrastrarlo de nuevo a la vida criminal. Ahora, debe reconciliarse con su violento pasado para sobrevivir.</p>
                </div>
              </div>
            </div>
          </div>
          
          
{% endblock %}
