{% extends "padre.html" %}
{% load static %}
{% block imagen_fondo %}
   <header class="masthead" style="background-image: url('https://i.blogs.es/0ba1d8/imagen-interstellar/1366_2000.jpeg');">     
{% endblock %}
{% block titulo %}

   <h1>Login</h1>

    </header>
{% endblock %}

{% block contenido_que_cambia %}
<div class="mb-3">
    <h2>{{ mensaje }}</h2>
    <form class="form_login" action="{% url 'login' %}" method="POST"> {% csrf_token %}
        {{ form.as_p }} 
        <!--p:parrafo vs table:tabla-->
        <button class="btn btn-primary" type="submit">Iniciar sesión</button>
        <div id="emailHelp" class="form-text">Acá no compartimos tus datos con nadie más.</div>
    </form>
    
</div>

    
{% endblock %}