{% extends "padre.html" %}
{% load static %}
{% block imagen_fondo %}
   <header class="masthead" style="background-image: url('https://pics.filmaffinity.com/Swiss_Army_Man-697779113-large.jpg');">     
{% endblock %}
{% block titulo %}

   <h1>No hay páginas aún</h1>
    <span class="subheading">Próximamente, lo prometo</span>  
    <img style="width: 8rem; height: 8rem; margin-top: 1rem;" src="https://memegenerator.net/img/images/8869578.jpg" alt="personaje llamado Apu de la serie de televisión Los Simpson">  
    </header>
{% endblock %}