{% extends "app_montauk/padre.html" %}
{% load static %}
{% block imagen_fondo %}
   <header class="masthead" style="background-image: url('https://assets.mubicdn.net/images/film/108343/image-w1280.jpg?1445939363');">     
{% endblock %}
{% block titulo %}

   <h1>About Me</h1>
    <span class="subheading">This is what I do.</span>  
    </header>
{% endblock %}

{% block contenido_que_cambia %}
    <!-- Main Content-->
    <main class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates odit, fuga atque ea nobis sit soluta odio, adipisci quas excepturi maxime quae totam ducimus consectetur?</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius praesentium recusandae illo eaque architecto error, repellendus iusto reprehenderit, doloribus, minus sunt. Numquam at quae voluptatum in officia voluptas voluptatibus, minus!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur magnam, excepturi aliquid ex itaque esse est vero natus quae optio aperiam soluta voluptatibus corporis atque iste neque sit tempora!</p>
                </div>
            </div>
        </div>
    </main>

    <div class="text-success">
        <hr>
    </div>
    <p class="mini_recomendaciones">Mini recomendaciones</p>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card">
            <img class="top_gun" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/tgm-intl-dgtl-key-art-t-cruise-standing-jet-imax-esp-1648564479.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Top Gun: Maverick</h5>
              <p class="card-text">Maverick, quien lleva 30 años de servicio, es ahora instructor de pilotos militares. Una última misión, un sacrificio final, obliga a este maestro de los cielos a enfrentar las heridas abiertas del pasado y sus temores más profundos.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img class="bullet_train" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/bullet-train-757922812-large-1654676084.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Bullet Train</h5>
              <p class="card-text">Cinco asesinos a sueldo se encuentran a bordo de un tren bala que viaja de Tokio a Morioka. Los sicarios descubrirán que sus misiones no son ajenas entre sí.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img class="gray_man" src="https://pics.filmaffinity.com/the_gray_man-486053339-large.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">The Gray Man</h5>
              <p class="card-text">El agente de la CIA Court Gentry (Ryan Gosling), alias Sierra Seis, es sacado de una cárcel federal reclutado por su supervisor, Donald Fitzroy (Billy Bob Thornton), Gentry fue en su día un mercader de la muerte altamente cualificado, autorizado por la Agencia. Pero ahora las tornas han cambiado y Seis es el objetivo, perseguido por todo el mundo por Lloyd Hansen (Chris Evans), un antiguo compañero de la CIA que no se detendrá ante nada para acabar con él. La agente Dani Miranda (Ana de Armas) le cubre las espaldas. La necesitará. (FILMAFFINITY)</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img class="remember_me" src="https://images-na.ssl-images-amazon.com/images/S/pv-target-images/50477d331c5efe0cb140a6dab82e5dfe0dd6d1f0b0b842d0d8d88ea4b99588ed._RI_V_TTW_.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Remember Me</h5>
              <p class="card-text">Historia sobre el poder del amor, la fuerza de la familia y la importancia de vivir apasionadamente y saber apreciar cada momento de tu vida.</p>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
