{% extends "app_montauk/padre.html" %}
{% load static %}
{% block imagen_fondo %}
   <header class="masthead" style="background-image: url('https://media.vandal.net/m/9-2020/202092116595039_8.jpg.webp');">     
{% endblock %}
{% block titulo %}

   <h1>Delete post</h1>

    </header>
{% endblock %}

{% block contenido_que_cambia %}

<form style="color: #fffefe;" method="post">{% csrf_token %}
    ¿Estás seguro que deseas eliminar el post "{{ object }}"?
    <input type="submit" value="Sí">
</form>


{% endblock %}