{% extends "app_montauk/padre.html" %}
{% load static %}
{% block imagen_fondo %}
   <header class="masthead" style="background-color: black;">     
{% endblock %}
{% block titulo %}

   <h1>Te has delogueado.</h1>
    <span class="subheading">Gracias, vuelva prontos</span>  
    <img style="width: 8rem; height: 8rem; margin-top: 1rem;" src="/static/app_montauk/assets/img/apu.jpg" alt="personaje llamado Apu de la serie de televisión Los Simpson">
    </header>
{% endblock %}

{% block contenido_que_cambia %}

{% endblock %}
