{% extends "app_montauk/padre.html" %}
{% load static %}
{% block imagen_fondo %}
   <header class="masthead" style="background: #000;">     
{% endblock %}
{% block titulo %}

   <h1>{{blog.titulo}}</h1>
   <span class="subheading">{{blog.subtitulo}}</span>  

    </header>
{% endblock %}

{% block contenido_que_cambia %}
<article class="mb-4 articulo">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>{{blog.cuerpo | safe}}</p>
                <img class="img-fluid" src="{{imagen}}" alt="..." />
                
                <p>
                    Texto creado por {{blog.autor}} - {{blog.fecha}}
                </p>
            </div>
        </div>
    </div>
    <div class="div_regresar">
        <a class="btn btn-primary" href="{% url 'List' %}">Regresar</a>
    </div>
    

</article>






{% endblock %}